<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fae.edu.testerecursosnativos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".AcelerometroActivity"
            android:label="@string/title_activity_acelerometro" >
        </activity>
        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps" >
        </activity>
        <activity
            android:name=".NotificacoesActivity"
            android:label="@string/title_activity_notificacoes" />

        <activity android:name=".ForceMeter" />


        <activity
            android:name=".CallActivity"
            android:label="@string/title_activity_call" />


    </application>

</manifest>
